bin
bin-int
.vs
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.replit
**.nix
.ccls-cache
Makefile
X11
**.vim
build.bat
run_premake.bat
compile_commands
compile_commands.json
.cache
**.csv
infgen
infgen.c
**.gz
**.png
**.qoi
**.so
**.html
**.js
**.wasm
emcc-cache